<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1>Welcome Admin!</h1>
        <div class="header-actions">
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="Search here...">
                <span class="material-icons search-icon">🔍</span>
            </div>
            <div class="icons">
                <span class="material-icons">
                    notifications
                </span>
                <span class="material-icons">
                    settings
                </span>
            </div>
            <div class="profile">
                <span class="username">Username</span>
                <img src="../assets/images/admin.jpeg" alt="User Profile" class="profile-img">
            </div>
        </div>
    </header>


</body>

</html>